
<div class="d-flex flex-column justify-content-between flex-shrink-0 p-3" style="width: 280px; height: 100vh; padding: 0 !important; position: sticky;
top: 0;">
    <a href="#" class="d-flex flex-column align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" style="padding: 30px">
        <div class="d-flex flex-row justify-content-center">
            <img src="/img/bfar-logo.png" class="img-fluid" alt="..." style="max-width: 40%;">
            <img src="/img/niftc.png" class="img-fluid" alt="..." style="max-width: 40%;">
        </div>
            <p class="text-center fs-5" style="font-size: 18px !important; color: #67668A; ">BFAR Management System Employee Portal</p>
        
    </a>
    
    <ul class="nav nav-pills flex-column mb-auto" style="">
      <li>
        <a href="/employee/" class="nav-link <%=(url==='/' || url==='/admin/')?'active':''%> ">
          Dashboard
        </a>
      </li>
      <hr>
      <li>
        <a href="/employee/attendance/<%=employee.employee_details.designation.id%>" class="nav-link <%=(url.toLowerCase().includes('/attendance'))?'active':''%> ">
          Attendances
        </a>
      </li>
      <li>
        <a href="/employee/payroll/<%=employee.employee_details.designation.id%>" class="nav-link <%=(url.toLowerCase().includes('/payroll'))?'active':''%> ">
          Payroll
        </a>
      </li>
      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle <%=(url.toLowerCase().includes('/leave'))?'active':''%>" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leave</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/employee/leave/<%=employee.employee_details.designation.id%>">Leaves</a>
          <a class="dropdown-item" href="#">Leave Status</a>
          <a class="dropdown-item" href="#">Leave History</a>
        </div>
        <style>
        .nav-link{
          color: #67668A;
        }
        .nav-pills, .nav{
          --bs-nav-pills-link-active-bg: #67668A;
          --bs-nav-link-color: #67668A;
        }
        .nav-link:focus, .nav-link:hover {
          color: #67668A; 
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
          color: #ffefee;
          background-color: #67668A;
          border: 0;
          border-radius: 0;
        }
        .dropdown-menu{
          border:0;
          border-radius: 0;
          padding: 0;
          --bs-dropdown-link-active-bg: #67668A;
        }
        .dropdown-item {
          padding: 0.25rem 1.5rem !important;
          font-size: .85rem;
          font-family: inherit;
          font-weight: inherit;
          border: 0;
          color: #67668A;
        }

        .dropdown.position-static .dropdown-menu {
          position: static !important;
          transform: none !important;
        }
        </style>
      </li>
      
    </ul>
    <div class="d-flex flex-row" style="padding: 15px 5px 15px 5px; border-top: 1px solid #dddddd;" >
        <div class="d-flex flex-row" style="margin:5px;">
            <img src="" alt="" class="img-fluid" style="background: gray; width: 80px">
        </div> 
            <div class="d-flex flex-column justify-content-center" >
                <a href="#" class="nav-link">
                    <u><%=employee.personal_information.email_personal%></u>
                </a>
                <p>Employee</p>
            <div class="d-flex flex-row" >
                <a href="#" class="nav-link" style="padding-right: 10px !important;">
                    <u> Account </u>
                </a>
                <a href="/<%=user.role%>/logout" class="nav-link ">
                    <u> Log-out </u>
                </a>
            </div>
        </div>
    </div>
  </div>

  <style>
    hr{
      margin:.25em;
    }
  </style>