<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">

      <%-include('partials/navBar.ejs', {data:{
          attendance: {
              url: '/admin/attendance/all',
              name: 'Attendance'
          },
          attendancePeriod:{
              url: '/admin/attendance/history/all',
              name: 'DTR History'
          },
      },
    })%>

    <%-include('partials/infoBox.ejs', {data})%>
    
    <%-include('partials/Modal') %> 
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text  rounded-1 d-flex gap-2">
                  <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> <label>label</label>
                  <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                  <input type="radio" name="datefil" value="15d"data-odaria-label="Radio button for following text input"> 15D
                  <input type="radio" name="datefil" value="30d"data-odaria-label="Radio button for following text input"> 30D
                  </div>
                </div>
              </div>
            <input type="date" name="from" value="<%=query.from%>" id="from" class="rounded-1">
            <input type="date" name="to" value="<%=query.to%>" id="to" class="rounded-1"    >
            <button type="submit" class="btn btn-primary">Submit</button>
           
    </div>
      <%-include('partials/navBar.ejs', {data:{
        dailyTimeRecord: {
          url: '/admin/attendance/history/all',
          name: 'Daily Time Records'
        },
        printDTR:{
          url: '/admin/attendance/history/print',
          name: 'Generate/Print DTR'
        },
        printDTRPerEmployee:{
          url: '/admin/attendance/history/print/per-employee',
          name: 'Generate/Print DTR Per Employee'
          },
        },
    })%>
    <div>
    <div class="d-flex  table-container table-responsive"> 
        
      <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
          <thead>
              <tr>
                  <th rowspan="2">Employee ID</th>
                  <th rowspan="2">Employee</th>
                  <th rowspan="2" data-sort='YYYYMMDD'>Date</th>
                  <th colspan="2">AM</th>
                  <th colspan="2">PM</th>
                  <th rowspan="2">Status</th>
              </tr>
              <tr>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th>Time In</th>
                  <th>Time Out</th>
              </tr>
          </thead>
          <tbody>
              <% Object.values(data.result).forEach(attendance =>{%> 
                  <tr>
                      <td><%=attendance.emp_code%></td>
                      <td><%=attendance.name%></td>
                      <td><%=moment(attendance.date).format('LL')%></td>
                      <td><%=(!attendance.am.time_in && attendance.message === 'Office')? '--:--:--': (attendance.message.includes('T.O') || attendance.message.includes('O.B')) ? attendance.message : moment(attendance.am.time_in).format('LTS')%></td>
                      <td><%=(!attendance.am.time_out)? '--:--:--' : moment(attendance.am.time_out).format('LTS')%></td>
                      <td><%=(!attendance.pm.time_in)? '--:--:--' : moment(attendance.pm.time_in).format('LTS')%></td>
                      <td><%=(!attendance.pm.time_out)? '--:--:--' : moment(attendance.pm.time_out).format('LTS')%></td>
                      <td>
                          <div class="statusContainer">
                              <%if(attendance.status.isLate){%>
                                  <div class="status">late</div>
                              <%}%>
                              <%if(attendance.status.isHalf){%>
                                  <div class="status">half</div>
                              <%}%>
                              <%if(attendance.status.isUndertime){%>
                                  <div class="status">undertime</div>
                              <%}%>
                          </div>
                          
                      </td>
                  </tr>
                  <%}); %>
          </tbody>
          <tfoot>
          </tfoot>
      </table>
  </div>
</div>
</div>

</main>

<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/dateFilter.js"></script> 
