<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">

<main class="d-flex flex-nowrap" style="align-self: center; ">

<%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style=" border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    
    <%-include('partials/navBar.ejs', {data:{
            attendance: {
                url: '/admin/attendance/all',
                name: 'Attendance'
            },
            attendancePeriod:{
                url: '/admin/attendance/history/all',
                name: 'Attendance Periods'
            },
        },
    })%>

    <div class="d-flex gap-4"> 
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Employees</p>
                <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_employees : 0%></b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Attendance</p>
                <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_attendance : 0%>d</b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Absent</p>
                <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_absent : 0%>d</b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Late</p>
               <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_late : 0%>m</b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Undertime</p>
               <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_undertime : 0%>m</b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Calendar Days </p>
               <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].calendarDays : 0%>d</b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
        </div>
    </div>
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text  rounded-1 d-flex gap-2">
                  <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> All time
                  <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                  <input type="radio" name="datefil" value="15d"aria-label="Radio button for following text input"> 15D
                  <input type="radio" name="datefil" value="30d"aria-label="Radio button for following text input"> 30D
                  </div>
                </div>
              </div>
            <input type="date" name="from" id="from" value="<%=query.from%>" class="rounded-1">
            <input type="date" name="to" id="to" value="<%=query.to%>" class="rounded-1">
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%-include('partials/navBar.ejs', {data:{
            attendance: {
                url: '/admin/attendance/all',
                name: 'All Attendance'
            },
            attendanceSummary:{
                url: '/admin/attendance/summary',
                name: 'Attendance Summary'
            }
        },
    })%>
    <div class="d-flex  table-container"> 
        
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th rowspan="2">Employee ID</th>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Date</th>
                    <th colspan="2">AM</th>
                    <th colspan="2">PM</th>
                    <th rowspan="2">Late (minutes)</th>
                    <th rowspan="2">Undertime (minutes)</th>
                </tr>
                <tr>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                </tr>
            </thead>
            <tbody>
                <%if(data.detailedSummaryData){%>
                    <% Object.values(data.detailedSummaryData).forEach(attendance =>{%> 
                        <tr>
                            <td><%=attendance.emp_code%></td>
                            <td><%=attendance.name%></td>
                            <td><%=(attendance.date) ? moment(attendance.date).format('LL') : 0%></td>
                            <td><%=(!attendance.am.time_in && attendance.message === 'Office')? '--:--:--': (attendance.message.includes('T.O') || attendance.message.includes('O.B')) ? attendance.message : moment(attendance.am.time_in).format('LTS') %> </td>
                            <td><%=(!attendance.am.time_out)? '--:--:--' : moment(attendance.am.time_out).format('LTS')%></td>
                            <td><%=(!attendance.pm.time_in)? '--:--:--' : moment(attendance.pm.time_in).format('LTS')%></td>
                            <td><%=(!attendance.pm.time_out)? '--:--:--' : moment(attendance.pm.time_out).format('LTS')%></td>
                            <td><%=(!attendance.lates) ? 0 : attendance.lates %></td>
                            <td><%=(!attendance.undertime) ? 0 : attendance.undertime %></td>
                        </tr>
                        <%}); %>
                <%}%>
                
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
</div>



</main>
<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/dateFilter.js"></script> 