<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">

      <%-include('partials/navBar.ejs', {data:{
          attendance: {
              url: '/admin/attendance/all',
              name: 'Attendance'
          },
          attendancePeriod:{
              url: '/admin/attendance/history/print',
              name: 'Attendance Periods'
          },
      },
    })%>

    <div class="d-flex gap-4 "> 
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Monthly Salary</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Semi-Monthly Salary</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
        <div class="d-flex flex-column justify-content-around">
           <p>Deduction</p>
           <p style="font-size:1.5rem;"><b>P</b></p>
        </div>
        <div class="d-flex">
           <p></p>
           <p class="mt-auto p-2 bd-highlight">Totals</p>
        </div>
   </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Gross Pay</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Net Pay</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
    </div>
    
    <%-include('partials/Modal') %> 
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text  rounded-1 d-flex gap-2">
                  <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> <label>label</label>
                  <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                  <input type="radio" name="datefil" value="15d"data-odaria-label="Radio button for following text input"> 15D
                  <input type="radio" name="datefil" value="30d"data-odaria-label="Radio button for following text input"> 30D
                  </div>
                </div>
              </div>
            <input type="date" name="from" value="<%=query.from%>" id="from" class="rounded-1">
            <input type="date" name="to" value="<%=query.to%>" id="to" class="rounded-1"    >
            <a id='btnCreate_AttendanceHistory' class="btn btn-primary" href="#" ==> Create DTR </a>
            <script>
              const createPayroll = document.querySelector('#btnCreate_AttendanceHistory');

              const gFrom = document.querySelector('input[type="date"]#from');
              const gTo = document.querySelector('input[type="date"]#to');
              //get all the values
              
              
              createPayroll.addEventListener('click', async (e) => {
                e.preventDefault();
                const values = {
                  from: gFrom.value,
                  to: gTo.value,
                }
                const data = await fetch('/admin/api/attendance/history', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(values)
                })

                const result = await data.json()
                console.log(result)
              });
            </script>
            
        </form>
    </div>
      <%-include('partials/navBar.ejs', {data:{
        dailyTimeRecord: {
          url: '/admin/attendance/history/all',
          name: 'Daily Time Records'
        },
        printDTR:{
          url: '/admin/attendance/history/print',
          name: 'Print DTR'
        },
        printDTRPerEmployee:{
          url: '/admin/attendance/history/print/per-employee',
          name: 'Print DTR Per Employee'
          },
        },
    })%>
    <div class="d-flex table-container"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Attendance Period</th>
                    <th>No. of Attendances</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <%if(data.result){%>
                <% Object.values(data.result).forEach(attendance =>{%> 
                  <tr>
                      <td><%=moment(attendance.date_from).format('MMMM')%> <%=moment(new Date(attendance.date_from)).date()%>-<%=(moment(attendance.date_to).format('MMMM') === moment(attendance.date_from).format('MMMM')) ? moment(new Date(attendance.date_to)).date() : moment(attendance.date_to).format('MMMM') + " " +  moment(attendance.date_to).date()%> <%=moment(attendance.date_to).year()%></td>
                      <td><%=attendance.attendances.length%></td>
                      <td>
                          <a href="/admin/attendance/history/dtr?id=<%=attendance._id%>">Print</a>
                      </td>
                  </tr>
                  <%}); %>
              <%}%>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>



</main>

<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/dateFilter.js"></script> 
