<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
<main class="d-flex flex-nowrap" style="align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <%-include('partials/navBar.ejs', {data:{
            deductions: {
                url: '/admin/deductions',
                name: 'Deductions'
            }
        },
    })%>    
    <section id="minimal-statistics">
        <div class="row">
          <div class="col-12">
            <h4 class="text-uppercase">Deduction</h4>
            <p>Deduction Tools, Summary, and Redirects</p>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="row">
            <div class="col-xl-12" style="gap: 1.5em;">
              <div class="card card-stats mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Deduction</h5>
                      <span class="h2 font-weight-bold mb-0"><%=(data.summaryData) ? data.summaryData.total_deduction : 0%></span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <a href="/admin/deductions"><span class="text-nowrap">View Details</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
    <%-include('partials/Modal') %> 
    <%-include('partials/navBar.ejs', {data:{
            deductions: {
                url: '/admin/deductions',
                name: 'Deductions'
            }
        },
    })%> 
    <div class="row">
        <section class="col-lg-8 connectedSortable ui-sortable" style="margin-bottom: 1.5em;">
            <div>
                <div class="overflow-auto  table-container table-responsive"> 
                    <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Deduction</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% Object.values(data.result).forEach(deduction =>{%> 
                                <tr>
                                    <td><%=deduction.name%></td>
                                    <td>P<%=deduction.amount%></td>
                                    <td>
                                        <a id="aEdit" href="#" data-toggle="modal" data-target="#modal"  onclick="editModal('<%=deduction._id%>','<%=deduction.name%>', 'name amount', `<%=include('partials/bodies/Deductions-editbody', {deduction})%>`)"> Edit </a>
                                        <a id="aDelete" href="#" data-toggle="modal" data-target="#modal"  onclick="deleteModal('<%=deduction._id%>')"> Delete </a>
                                    </td>
                                </tr>
                            <%}); %>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section class="col-lg-4 connectedSortable ui-sortable">
            <div class="overflow-auto sideContainer rounded-1" > 
                <form action="" id='asideForm'class="d-flex flex-column gap-2">
                    <h1>Add Deductions</h1>
                    <div class="mb-0">
                        <label for="name">Name:</label>
                        <input  type="text" class="form-control" name='name' placeholder="Deduction Name *" id='deducName'>
                        <p class="text-center text-danger name-error error"></p>
                    </div>
                   
                    <div class="mb-0">
                        <label for="amount">Amount:</label>
                        <input  type="number" step="any" name="amount" placeholder="Amount *" class="form-control">
                        <p class="text-center text-danger num-error error"></p>
                    </div>
                    <button type="submit" class="btn btn-primary sideContainerButton">Add New</button>
                </form>
            </div>
        </section>
    </div>
</div>



</main>

<%-include('partials/Footer')%>
<script src="/scripts/deductions.js" type="text/javascript">


</script>