<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<link rel="stylesheet" href="/styles/newEmployee.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: auto; align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>
    <%-include('partials/Modal') %> 
    <form class="empFormEl">
        <div class="d-flex filterContainer rounded-1 gap-3 mt-0">
            <h1 class="mb-0">Edit Information</h1>
        </div>
        <div style="margin-top:25px;"> 
            <div class="empForm rounded-1">
                <div class="cardForm rounded-1">
                    <div class="cardForm__title mb-3">
                        <h1>Personal Information</h3>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="id"> _id</label>
                            <input type="text" name="_id" placeholder="_id" value="<%=data.result._id%>" disabled>
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="fname"> First Name</label>
                            <input type="text" name="fname" placeholder="First Name" value="<%=data.result.personal_information.fname%>">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mname"> Middle Name</label>
                            <input type="text" name="mname" placeholder="Middle Name" value="<%=data.result.personal_information.mname%>">
                        </div>
                    </div>

                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="lname"> Last Name</label>
                            <input type="text" name="lname" placeholder="Middle Name" value="<%=data.result.personal_information.lname%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="gender"> Gender</label>
                            <select class="custom-select" name="gender" id="genderSelect">
                                <option value="Male" <%=(data.result.personal_information.gender) === 'Male' ? 'Selected' : ""%>>Male</option>
                                <option value="Female" <%=(data.result.personal_information.gender) === 'Female' ? 'Selected' : ""%>>Female</option>
                                <option value="Other" <%=(data.result.personal_information.gender) === 'Other' ? 'Selected' : ""%>>Third Gender</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="status"> Civil Status</label>
                            <select class="custom-select" name="civstatus" id="civilStatusSelect">
                                <option value="Single" <%=(data.result.personal_information.civstatus) === 'Single' ? 'Selected' : ""%>>Single</option>
                                <option value="Married" <%=(data.result.personal_information.civstatus) === 'Married' ? 'Selected' : ""%>>Married</option>
                                <option value="Other" <%=(data.result.personal_information.civstatus) === 'Other' ? 'Selected' : ""%>>Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="height"> Height(CM)</label>
                            <input type="number" step="any" name="height" placeholder="Height" value="<%=data.result.personal_information.height%>">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="weight"> Weight(Pounds)</label>
                            <input type="number" step="any" name="weight" placeholder="Weight" value="<%=data.result.personal_information.weight%>">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input">
                            <label for="email"> Email Address(Personal)</label>
                            <input type="email" step="any" name="email_personal" placeholder="Personal Email" value="<%=data.result.personal_information.email_personal%>">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="mobile"> Mobile Number</label>
                            <input type="number" step="any" name="contact_personal" placeholder="Mobile Number" value="<%=data.result.personal_information.contact_peersonal%>">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv d-flex">
                        <div class="inputDiv1__input border-right-1">
                            <label for="homeadd"> Home Address</label>
                            <input type="text" name="home_address" placeholder="Home Address" value="<%=data.result.personal_information.home_address%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="age"> Age</label>
                            <input type="number" name="age" placeholder="Age" style="border-left: 1px solid #dddddd;"value="<%=data.result.personal_information.age%>">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="natlid"> National ID</label>
                            <input type="text" name="natl_id" placeholder="National ID" value="<%=data.result.personal_information.natl_id%>">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="dbirth"> Date of Birth</label>
                            <input type="date" name="date_of_birth" placeholder="Date of Birth" value="<%=moment(data.result.personal_information.date_of_birth).format('YYYY-MM-DD')%>">
                        </div>
        
                        <div class="inputDiv1__input">
                            <label for="pbirth"> Place of Birth</label>
                            <input type="text" name="place_of_birth" placeholder="Place of Birth" value="<%=data.result.personal_information.place_of_birth%>">
                        </div>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="image"> Upload Profile Photo</label>
                            <input type="file" name="image" placeholder="Upload Image">
                        </div>
                    </div>
                </div>
                
                <div class="cardForm">
                    <div class="cardForm__title">
                        <h1>Employee Details</h3>
                    </div>
                    <div class="cardForm__subTitle mb-3">
                        <h1><b>Designation</b></h1>
                    </div>
                    <div class="cardForm__inputDiv">
                        <div class="inputDiv1__input">
                            <label for="company"> Company</label>
                            <input type="text" name="company" placeholder="Company" value="<%=data.result.employee_details.designation.company%>">
                        </div>

                        <div class="inputDiv1__input">
                            <label for="companyloc"> Company Location</label>
                            <input type="text" name="company_location" placeholder="Company Location" value="<%=data.result.employee_details.designation.company_location%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="companyadd"> Company Address</label>
                            <input type="text" name="company_address" placeholder="Company Address" value="<%=data.result.employee_details.designation.company_address%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Job Title/Designation</label>
                            <input type="text" name="designation" placeholder="Job Title/Designation" value="<%=data.result.employee_details.designation.designation%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="empcode"> ID Number</label>
                            <input type="number" name="empcode" placeholder="ID Number" value="<%=data.result.employee_details.designation.id%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> RFID</label>
                            <input type="number" name="rfid" placeholder="RFID" value="<%=data.result.employee_details.designation.rfid%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="designation"> Email Address(Company)</label>
                            <input type="text" name="email_company" placeholder="Company Email" value="<%=data.result.employee_details.designation.email_company%>">
                        </div>
                        <div class="inputDiv1__input">
                            <label for="leavegroup"> Leave Group</label>
                            <input type="text" name="leavegroup" placeholder="Leave Group" value="<%=data.result.employee_details.designation.leave_group%>">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Employment Information</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmenttype"> Employment Type</label>
                            <select class="custom-select" name="employment_type" id="empTypeSelect">
                                <option value="permanent" <%=(data.result.employee_details.employment_information.employment_type) === 'permanent' ? 'Selected' : ''%>>Permanent</option>
                                <option value="contractual" <%=(data.result.employee_details.employment_information.employment_type) === 'contractual' ? 'Selected' : ''%>>Job Order/Contractual</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="employmentstatus"> Employment Status</label>
                            <select class="custom-select" name="employment_status" id="empStatusSelect">
                                <option value="active" <%=(data.result.employee_details.employment_information.employment_status) === 'active' ? 'Selected' : ''%>>Active</option>
                                <option value="archive" <%=(data.result.employee_details.employment_information.employment_status) === 'archive' ? 'Selected' : ''%>>Archive</option>
                            </select>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="dstart"> Date Started</label>
                            <input type="date" name="date_hired" placeholder="Date Started" value="<%=moment(data.result.employee_details.employment_information.date_hired).format('YYYY-MM-DD')%>">
                        </div>
                        <div class="cardForm__subTitle mb-3">
                            <h1><b>Salary</b></h1>
                        </div>
                        <div class="inputDiv1__input">
                            <label for="rfid"> Salary</label>
                            <input type="number" steps="any" name="monthly_salary" placeholder="Monthly Rate" value="<%=data.result.employee_details.salary_details.monthly_salary%>">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="empBtn d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <!-- cancel button -->
            </div>
            
        </div>
    </form>
    
</div>



</main>



<%-include('partials/Footer')%>


<script src="/scripts/editEmployee.js" type="text/javascript"></script>
   
</script>