<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: hidden; align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    <div class="d-flex gap-4" style="padding-top: 25px !important;"> 
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p >Employees</p>
                <p style="font-size:1.5rem;"><b><%=(!data.data[0]) ? 0 : data.data[0].totalEmployees%></b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Permanent</p>
                <p style="font-size:1.5rem;"><b><%=(!data.data[0]) ? 0 : data.data[0].permanent%></b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Contractual/Job Orders</p>
               <p style="font-size:1.5rem;"><b><%=(!data.data[0]) ? 0 :data.data[0].contractual%></b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
        </div>
    </div>
    <div class="d-flex filterContainer rounded-1 gap-3">
        <button id="btnAdd" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" onclick="modal('empAddNew')">Add new</button>
    </div>
    <%-include('partials/Modal') %> 
    
    <div class="d-flex overflow-auto  table-container" style="margin-top: 25px !important; min-width:1200px"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Project</th>
                    <th>Designation</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% Object.values(data.result).forEach(user =>{%> 
                    <tr>
                        <td><%=user.emp_code%></td>
                        <td><%=user.name%></td>
                        <td><%=user.employeeProject%></td>
                        <td><%=user.position%></td>
                        <td><%=user.employeeType%></td>
                        <td>
                            <a href="#"> View Details </a>
                        </td>
                    </tr>
                <%}); %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    
</div>



</main>



<%-include('partials/Footer')%>


<script>
    //datatable
    $(document).ready(function () {
    $('#mainTable').DataTable();
    });
</script>