<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<style>
 
</style>
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: hidden; align-self: center;">

    <%-include('partials/employeeAside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Payroll </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    <div class="d-flex gap-4" style="padding-top: 25px !important;"> 
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Monthly Salary</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Semi-Monthly Salary</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
        <div class="d-flex flex-column justify-content-around">
           <p>Deduction</p>
           <p style="font-size:1.5rem;"><b></b></p>
        </div>
        <div class="d-flex">
           <p></p>
           <p class="mt-auto p-2 bd-highlight">Totals</p>
        </div>
   </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Gross Pay</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Net Pay</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
    </div>
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text  rounded-1 d-flex gap-2">
                <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> <label>label</label>
                <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                <input type="radio" name="datefil" value="15d"data-odaria-label="Radio button for following text input"> 15D
                <input type="radio" name="datefil" value="30d"data-odaria-label="Radio button for following text input"> 30D
                </div>
              </div>
            </div>
          <input type="date" name="from" value="" id="" class="rounded-1">
          <input type="date" name="to" value="" id="" class="rounded-1">
          
          <button type="submit" class="btn btn-primary">Submit</button>
       
          
          
        </form>
    </div>
    <%-include('partials/Modal') %> 
    <div class="d-flex filterContainer rounded-1 gap-3 justify-content-center">
        <a id="btnAdd" href="#" data-toggle="modal" data-target="#modal"  onclick="submitModal('63cb6da923cd4215c1ee0e5e','John Kenneth Singson Gervacio', 'doc_id emp_id name leave_type leave_reason start_date end_date', `<%=include('partials/bodies/leaveRequest-editbody')%>`)" class="btn btn-primary">Request for Leave</a>
    </div>

    <div class="d-flex overflow-auto  table-container" style="margin-top: 25px !important; min-width:1200px;"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Full Name</th>
                    <th>Leave type</th>
                    <th>Applied On</th>
                    <th>Current Status</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td>10</td>
                    <td>kenwu</td>
                    <td>Casual Leave</td>
                    <td>januray 2023</td>
                    <td>
                        <span class='status pending'>pending</span>
                        <span class='status declined'>declined</span>
                        <span class='status approved'>approved</span>
                    </td>
               </tr>
               <style>
                   
               </style>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>



</main>

<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>