<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" align-self: center;">

    <%-include('partials/Aside')%> 
<main class="d-flex flex-nowrap" style=" align-self: center;">
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em;gap:1.5em; overflow: auto; ">
    <%-include('partials/navBar.ejs', {data:{
            employees: {
                url: '/admin/employees/all',
                name: 'Employees'
            }
        },
    })%>
    <div class="d-flex gap-4 "> 
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Employees</p>
                <p style="font-size:1.5rem;"><b><%=data.summaryData[0].totalEmployees%></b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
             <div class="d-flex flex-column justify-content-around">
                <p>Payroll Groups</p>
                <p style="font-size:1.5rem;"><b><%=data.summaryData[0].totalPayrollGroups%></b></p>
             </div>
             <div class="d-flex">
                <p></p>
                <p class="mt-auto p-2 bd-highlight">Totals</p>
             </div>
        </div>
      </div>
    
    <div class="d-flex filterContainer rounded-1 gap-3">
        <a id="btnAdd" href="/admin/employees/new" class="btn btn-primary">Add New Employee</a>
        <a id='btnAdd_payrollType' class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal" onclick="addPayrollTypeModal('','','payroll_types', `<%=include('partials/bodies/payrollTypes-editbody', {payroll_type: group, employees: data})%>`)"> Add Payroll Type </a>
    </div>
    <%-include('partials/Modal') %> 
        <%-include('partials/navBar.ejs', {data:{
                employees: {
                    url: '/admin/employees/all',
                    name: 'All Employees'
                }
            },
        })%>
    <div class="d-flex  table-container"> 
        <style>
            tr td:first-child:hover{
                cursor: pointer;
            }
            tr td input[type=checkbox]{
                margin-right: 10px;
                background-color: #656488;
            }
           
        </style>
           
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Payroll Group</th>
                    <th>Designation</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%Object.values(data.result).forEach(user=>{%>
                    <tr>
                        <td><input type="checkbox" name="id" value="<%=user.id%>"><%=user.id%></td>
                        <td><%=user.name%></td>
                        <td>
                            <%if(user.employee_details.employment_information.payroll_type === null){%>
                                <a href="#"> Add </a>
                            <%}else{%>
                                <%=user.employee_details.employment_information.payroll_type.fund_cluster%>
                                - <%=user.employee_details.employment_information.payroll_type.project_name%> <%=(user.employee_details.employment_information.payroll_type.program_name) ? +  '/ ' + user.employee_details.employment_information.payroll_type.program_name : ''%> 
                                <a href="#"> Edit </a>
                            <%}%>    
                        </td>
                        <td><%=user.designation%></td>
                        <td><%=user.employment_type%></td>
                        <td>
                            <a href="/admin/employees/view/<%=user._id%>" target="_blank">View Details</a>
                            <a href="/admin/employees/edit/<%=user._id%>" target="_blank">Edit</a>
                        </td>
                    </tr>
                <%}); %>
                <script>
                    const btnAddPayrollType1 = document.querySelector('#btnAdd_payrollType')
                    btnAddPayrollType1.style.visibility = 'hidden'
            
                    // if any of the checkbox is checked, btnAddPayrollType will be visible
                    const checkboxes = document.querySelectorAll('input[type=checkbox]')
                    checkboxes.forEach(checkbox=>{
                        // checkbox.addEventListener('click',()=>{
                        //     console.log('clicked')
                        //     btnAddPayrollType.style.visibility = 'visible'
                        // })
                        checkbox.addEventListener('change', ()=>{
                            let isChecked = false;
                            checkboxes.forEach(checkbox => {
                              if (checkbox.checked) {
                                isChecked = true;
                              }
                            });
                            
                            // Enable or disable button based on checkbox state
                            if (isChecked) {
                                btnAddPayrollType1.style.visibility = 'visible'
                            } else {
                                btnAddPayrollType1.style.visibility = 'hidden'
                            }
                        })
                    })
                </script>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    
</div>



</main>



<%-include('partials/Footer')%>


<script>
    //datatable
    $(document).ready(function () {
    $('#mainTable').DataTable();
    });
</script>