<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: hidden; align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    
    <div class="d-flex filterContainer rounded-1 gap-3">
        <a id="btnAdd" href="/admin/employees/new" class="btn btn-primary">Add new</a>
    </div>
    <%-include('partials/Modal') %> 
    
    <div class="d-flex overflow-auto  table-container" style="margin-top: 25px !important; min-width:1200px"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Project</th>
                    <th>Designation</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%Object.values(data.result).forEach(user=>{%>
                    <tr>
                        <td><%=user.id%></td>
                        <td><%=user.name%></td>
                        <td><%=user.employee_project%></td>
                        <td><%=user.designation%></td>
                        <td><%=user.employment_type%></td>
                        <td>
                            <a href="/admin/employees/view/<%=user._id%>" target="_blank">View Details</a>
                            <a href="/admin/employees/edit/<%=user._id%>" target="_blank">Edit</a>
                        </td>
                    </tr>
                <%}); %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    
</div>



</main>



<%-include('partials/Footer')%>


<script>
    //datatable
    $(document).ready(function () {
    $('#mainTable').DataTable();
    });
</script>