<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: hidden; align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employees </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    
    <div class="d-flex filterContainer rounded-1 gap-3 justify-content-center">
        <a id="btnAdd" href="/admin/employees/new" class="btn btn-primary">Add New Employee</a>
        <a id='btnAdd_payrollType' class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal" onclick="addPayrollTypeModal('','','payroll_types', `<%=include('partials/bodies/passType-editbody', {payroll_type: payrollTypes, employees: data})%>`)"> Add Payroll Type </a>
    </div>
    <%-include('partials/Modal') %> 
    
    <div class="d-flex overflow-auto  table-container" style="margin-top: 25px !important; min-width:1200px"> 
        <style>
            tr td:first-child:hover{
                cursor: pointer;
            }
            tr td input[type=checkbox]{
                margin-right: 10px;
                background-color: #656488;
            }
           
        </style>
     
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Payroll Type</th>
                    <th>Designation</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%Object.values(data.result).forEach(user=>{%>
                    <tr>
                        <td><input type="checkbox" name="id" value="<%=user.id%>"><%=user.id%></td>
                        <td><%=user.name%></td>
                        <td>
                            <%if(user.employee_details.employment_information.payroll_type === null){%>
                                <a href="#"> Add </a>
                            <%}else{%>
                                <%=user.employee_details.employment_information.payroll_type.fund_cluster%> 
                                <a href="#"> Edit </a>
                            <%}%>    
                        </td>
                        <td><%=user.designation%></td>
                        <td><%=user.employment_type%></td>
                        <td>
                            <a href="/admin/employees/view/<%=user._id%>" target="_blank">View Details</a>
                            <a href="/admin/employees/edit/<%=user._id%>" target="_blank">Edit</a>
                        </td>
                    </tr>
                <%}); %>
                <script>
                    const btnAddPayrollType1 = document.querySelector('#btnAdd_payrollType')
                    btnAddPayrollType1.style.visibility = 'hidden'
            
                    // if any of the checkbox is checked, btnAddPayrollType will be visible
                    const checkboxes = document.querySelectorAll('input[type=checkbox]')
                    checkboxes.forEach(checkbox=>{
                        // checkbox.addEventListener('click',()=>{
                        //     console.log('clicked')
                        //     btnAddPayrollType.style.visibility = 'visible'
                        // })
                        checkbox.addEventListener('change', ()=>{
                            let isChecked = false;
                            checkboxes.forEach(checkbox => {
                              if (checkbox.checked) {
                                isChecked = true;
                              }
                            });
                            
                            // Enable or disable button based on checkbox state
                            if (isChecked) {
                                btnAddPayrollType1.style.visibility = 'visible'
                            } else {
                                btnAddPayrollType1.style.visibility = 'hidden'
                            }
                        })
                    })
                </script>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    
</div>



</main>



<%-include('partials/Footer')%>


<script>
    //datatable
    $(document).ready(function () {
    $('#mainTable').DataTable();
    });
</script>