<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; align-self: center;">
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Holidays </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    <div class="d-flex gap-4 mr-4" style="padding-top: 25px !important;"> 
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Total Holidays</p>
              <p style="font-size:1.5rem;"><b>30</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Upcoming Holidays</p>
              <p style="font-size:1.5rem;"><b>30</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
    </div>

    <!-- modal -->
    <%-include('partials/Modal') %> 
    <div class="d-flex overflow-auto gap-4 justify-content-between" style="margin-top: 25px !important; min-width:1200px">

        <div class="overflow-auto  table-container" style="width:100%;  "> 
        
            <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Holiday Name</th>
                        <th>Description</th>
                        <th>Pre-requisite date</th>
                        <th>Requisite date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(data.result).forEach(holiday =>{%> 
                        <tr>
                            <td><%=holiday.name%></td>
                            <td><%=holiday.description%></td>
                            <td><%=moment(holiday.preDate).format('LL')%></td>
                            <td><%=moment(holiday.date).format('LL')%></td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modal" onclick="modal('edit')"> Edit </a>
                                <a href="#" data-toggle="modal" data-target="#modal" onclick="modal('delete')"> Delete </a>
                            </td>
                        </tr>
                    <%}); %>
                    <tr>
                        <td>Christmas</td>
                        <td>Christmas 2022</td>
                        <td>December 24, 2022</td>
                        <td>December 25, 2022</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#modal" onclick="modal('edit')"> Edit </a>
                            <a href="#" data-toggle="modal" data-target="#modal" onclick="modal('delete')"> Delete </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="sideContainer rounded-1">
            <div class="overflow-auto" > 
                <form action="" class="d-flex flex-column gap-2">
                    <h1>Add Holiday</h1>
                    <div class="mb-0">
                        <input required type="text" class="form-control" name='name' placeholder="Holiday Name">
                        <p class="text-center text-danger fname-error error"></p>
                    </div>
                    
                    <div class="mb-0">
                        <textarea class="form-control" name='description' placeholder="Description"></textarea>
                        <p class="text-center text-danger description-error error"></p>
                    </div>
                    <div class="mb-0">
                        <input required type="date" placeholder="Pre-requisite date" name="predate" value="" id="" class="sideContainerDate">
                        <p class="text-center text-danger from-error error"></p>
                    </div>
                    <div class="mb-0">
                        <input required type="date" placeholder="Requisite date" name="date" value="" id="" class=" sideContainerDate">
                        <p class="text-center text-danger to-error error"></p>
                    </div>
                    <button type="submit" class="btn btn-primary sideContainerButton">Add New</button>
                </form>
            </div>
        </div>
        
    </div>
    
</div>



</main>

<%-include('partials/Footer')%>
<script>
    $(document).ready(function () {
    
    $('#mainTable').DataTable({
        "columnDefs": [
         //date-fields
         {
            "orderable": true,
            "targets": [2, 3],
            "type": 'date'
         },
         {"className": "dt-center", "targets": "_all"}
        ]
        });
    });

    const form = document.querySelector('form')
    form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        try{
            const fnameErr = document.querySelector('p.fname-error')
            const preDateErr = document.querySelector('p.from-error')
            const dateErr = document.querySelector('p.to-error')

            const name = form.name.value
            const description = form.description.value
            const predate = form.predate.value
            const date = form.date.value

            const res = await fetch('http://localhost:3000/admin/api/events/holiday', {
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    name,
                    description,
                    predate,
                    date
                }),
                method: 'POST'
            })
            const data = await res.json()
            console.log('asdas', data)
            if(data.err) {
                fnameErr.textContent = data.err.name
                preDateErr.textContent = data.err.preDate
                dateErr.textContent = data.err.date
            }

            if(data){
                
            }
        }catch(e){
            console.log('fe[holidays]:', e)
        }
    })
</script>