<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
    <%-include('partials/Aside')%> 
    
    <div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
        <%-include('partials/Modal') %> 
        <%-include('partials/navBar.ejs', {data:{
                employees: {
                    url: '/admin/holidays',
                    name: 'Holidays'
                }
            },
        })%>

    <div class="d-flex gap-4"> 
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Total Holidays</p>
              <p style="font-size:1.5rem;"><b>30</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Upcoming Holidays</p>
              <p style="font-size:1.5rem;"><b>30</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
    </div>

    <!-- modal -->
    <%-include('partials/Modal') %> 
    <%-include('partials/navBar.ejs', {data:{
            employees: {
                url: '/admin/holidays',
                name: 'All Holidays'
            }
        },
    })%>

    <div class="row">
        <section class="col-lg-8 connectedSortable ui-sortable" style="margin-bottom: 1.5em;">
        <div class="overflow-auto  table-container table-responsive"> 
        <div>
            <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Holiday Name</th>
                        <th>Description</th>
                        <th>Pre-requisite date</th>
                        <th>Requisite date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(data.result).forEach(holiday =>{%> 
                        <tr>
                            <td><%=holiday.name%></td>
                            <td><%=holiday.description%></td>
                            <td><%=moment(holiday.preDate).format('LL')%></td>
                            <td><%=moment(holiday.date).format('LL')%></td>
                            <td>
                                <a id="aEdit" href="#" data-toggle="modal" data-target="#modal" onclick="editModal('<%=holiday._id%>','<%=holiday.name%>', 'name description preDate date', `<%=include('partials/bodies/Holidays-editbody', {holiday})%>`)"> Edit </a>
                                <a id="aDelete" href="#" data-toggle="modal" data-target="#modal" onclick="deleteModal('<%=holiday._id%>')"> Delete </a>
                            </td>
                        </tr>
                    <%}); %>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<section class="col-lg-4 connectedSortable ui-sortable">
            <div class="overflow-auto sideContainer rounded-1" > 
                <form action="" id="asideForm" class="d-flex flex-column gap-2">
                    <h1>Add Holiday</h1>
                    <div class="mb-0">
                        <input required type="text" class="form-control" name='name' placeholder="Holiday Name">
                        <p class="text-center text-danger fname-error error"></p>
                    </div>
                    
                    <div class="mb-0">
                        <textarea class="form-control" name='description' placeholder="Description"></textarea>
                        <p class="text-center text-danger description-error error"></p>
                    </div>
                    <div class="mb-0">
                        <input required type="date" placeholder="Pre-requisite date" name="preDate" value="" id="" class="sideContainerDate">
                        <p class="text-center text-danger from-error error"></p>
                    </div>
                    <div class="mb-0">
                        <input required type="date" placeholder="Requisite date" name="date" value="" id="" class=" sideContainerDate">
                        <p class="text-center text-danger to-error error"></p>
                    </div>
                    <button type="submit" class="btn btn-primary sideContainerButton">Add New</button>
                </form>
            </div>
    </div>
</section>
    
</div>



</main>

<%-include('partials/Footer')%>
<script src="/scripts/holiday.js" type="text/javascript"></script>