<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <%-include('partials/navBar.ejs', {data:{
            employees: {
                url: '/admin/leaveTypes',
                name: 'Leave Types'
            }
        },
    })%>

    <section id="minimal-statistics">
        <div class="row">
          <div class="col-12">
            <h4 class="text-uppercase">Leave Type</h4>
            <p>Leave Type Tools, Summary, and Redirects</p>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="row">
            <div class="col-xl-12" style="gap: 1.5em;">
              <div class="card card-stats mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Leave Type</h5>
                      <span class="h2 font-weight-bold mb-0"><%=(data.summaryData) ? data.summaryData.total_leavetype : 0%></span>
                    </div>
                    <div class="col-auto">

                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <a href="/admin/leavetypes"><span class="text-nowrap">View Details</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>

    <!-- modal -->
    <%-include('partials/Modal') %> 
    <%-include('partials/navBar.ejs', {data:{
            employees: {
                url: '/admin/leaveTypes',
                name: 'All Leave Types'
            }
        },
    })%>
    <div class="row" >
        <section class="col-lg-8 connectedSortable ui-sortable" style="margin-bottom: 1.5em;">
            <div>
                <div class="overflow-auto  table-container table-responsive" style="width:100%;  "> 
                
                    <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Leave Type</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% Object.values(data.result).forEach(leaveType =>{%> 
                                <tr>
                                    <td><%=leaveType.leave_type%></td>
                                    <td><%=leaveType.description%></td>
                                    <td><%=moment(leaveType.createdAt).format('LL')%></td>
                                    <td>
                                        <a id="aEdit" href="#" data-toggle="modal" data-target="#modal"  onclick="editModal('<%=leaveType._id%>','<%=leaveType.name%>', 'leave_type description', `<%=include('partials/bodies/leaveType-editbody', {leaveType})%>`)"> Edit </a>
                                        <a id="aDelete" href="#" data-toggle="modal" data-target="#modal"  onclick="deleteModal('<%=leaveType._id%>')"> Delete </a>
                                    </td>
                                </tr>
                            <%}); %>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section class="col-lg-4 connectedSortable ui-sortable">
            <div class="overflow-auto sideContainer rounded-1" > 
                <form action="" id="asideForm" class="d-flex flex-column gap-2">
                    <h1>Add Leave Type</h1>
                    <div class="mb-0">
                        <input required type="text" class="form-control" name='leave_type' placeholder="Leave Type">
                        <p class="text-center text-danger leavetype-error error"></p>
                    </div>
                    
                    <div class="mb-0">
                        <textarea class="form-control" name='description' placeholder="Description"></textarea>
                        <p class="text-center text-danger description-error error"></p>
                    </div>
                    <button type="submit" class="btn btn-primary sideContainerButton">Add New</button>
                </form>
            </div>
        </section>
    </div>
    
</div>



</main>

<%-include('partials/Footer')%>
<script src="/scripts/leaveTypes.js" type="text/javascript">   </script>