<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style=" align-self: center;">
<style>
    .form-control, .btn {font-size: 14px; border-left: 0px; border-right: 0px;}
</style>
    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <%-include('partials/navBar.ejs', {data:{
            payroll: {
                url: '/admin/payroll/all',
                name: 'Payroll'
            },
            payrollPeriods:{
                url: '/admin/payroll/history/all',
                name: 'Payroll Periods'
            },
            payrollGroups:{
            url: '/admin/payroll/groups',
            name: 'Payroll Groups'
            } 
        },
    })%>
    <div class="d-flex gap-4 "> 
     <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
          <div class="d-flex flex-column justify-content-around">
             <p>Payroll Groups</p>
             <p style="font-size:1.5rem;"><b><%=(data.result) ? data.result.length : 0 %></b></p>
          </div>
          <div class="d-flex">
             <p></p>
             <p class="mt-auto p-2 bd-highlight">Totals</p>
          </div>
     </div>
      </div>
    <%-include('partials/navBar.ejs', {data:{
        payroll: {
            url: '/admin/payroll/groups',
            name: 'All Payroll Groups'
        }
      },
    })%>

    <!-- modal -->
    <%-include('partials/Modal') %> 
    <div class="d-flex overflow-auto gap-4 justify-content-between">
        
        <div class="d-flex  table-container" style="width:100%;" > 
            
           
            <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Fund Cluster</th>
                        <th>Project Name</th>
                        <th>Program Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(data.result).forEach(ptype =>{%> 
                        <tr>
                            <td><%=ptype.fund_cluster%></td>
                            <td><%=ptype.project_name%></td>
                            <td><%=ptype.program_name%></td>
                            <td>
                                <a id="aEdit" href="#" data-toggle="modal" data-target="#modal" onclick="editModal('<%=ptype._id%>','<%=ptype.project_name%>', 'fund_cluster project_name program_name', `<%=include('partials/bodies/payrollGroup-editbody', {ptype})%>`)"> Edit </a>
                                <a id="aDelete" href="#" data-toggle="modal" data-target="#modal" onclick="deleteModal('<%=ptype._id%>')"> Delete </a>
                            </td>
                        </tr>
                    <%}); %>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="sideContainer rounded-1">
            <div class="overflow-auto" > 
                <form action="" id="asideForm" class="d-flex flex-column gap-2">
                    <h1>Add Payroll Type</h1>
                    <div class="mb-0">
                        <input required type="text" class="form-control" name='fund_cluster' placeholder="Fund Cluster">
                        <p class="text-center text-danger fundcluster-error error"></p>
                    </div>
                    
                    <div class="mb-0">
                        <input required type="text" class="form-control" name='project_name' placeholder="Project Name">
                        <p class="text-center text-danger project_name-error error"></p>
                    </div>
                    <div class="mb-0">
                        <input type="text" placeholder="Program Name (Optional)" name="program_name" value="" class="form-control">
                        <p class="text-center text-danger from-error error"></p>
                    </div>
                    <button type="submit" class="btn btn-primary sideContainerButton">Add New</button>
                </form>
            </div>
        </div>
        
    </div>
    



</main>

<%-include('partials/Footer')%>
<script src="/scripts/addPayrollType.js" type="text/javascript"></script>