<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Payroll </b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>

    <div class="d-flex gap-4 "> 
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Monthly Salary</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Semi-Monthly Salary</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
        <div class="d-flex flex-column justify-content-around">
           <p>Deduction</p>
           <p style="font-size:1.5rem;"><b>P</b></p>
        </div>
        <div class="d-flex">
           <p></p>
           <p class="mt-auto p-2 bd-highlight">Totals</p>
        </div>
   </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Gross Pay</p>
              <p style="font-size:1.5rem;"><b>P</b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
      <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
           <div class="d-flex flex-column justify-content-around">
              <p>Net Pay</p>
              <p style="font-size:1.5rem;"><b></b></p>
           </div>
           <div class="d-flex">
              <p></p>
              <p class="mt-auto p-2 bd-highlight">Totals</p>
           </div>
      </div>
    </div>
    
    <%-include('partials/Modal') %> 
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text  rounded-1 d-flex gap-2">
                  <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> <label>label</label>
                  <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                  <input type="radio" name="datefil" value="15d"data-odaria-label="Radio button for following text input"> 15D
                  <input type="radio" name="datefil" value="30d"data-odaria-label="Radio button for following text input"> 30D
                  </div>
                </div>
              </div>
            <input type="date" name="from" value="<%=query.from%>" id="from" class="rounded-1">
            <input type="date" name="to" value="<%=query.to%>" id="to" class="rounded-1"    >
            <select name="p_group" id="projectSelect" class="rounded-1 custom-select">
              <% Object.values(group.result).forEach(group =>{%> 
                <option value="<%=group._id%>" <%=(query.p_group === group._id) ? 'selected': ''%>><%=group.fund_cluster%> - <%=group.project_name%> <%=(group.program_name)? + "- " + group.program_name: ''%></option>
              <%}); %>
              
            </select>
            
            </script>
            <a id='btnAdd_payrollType' class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal" onclick="submitModal('','','fund_cluster project_name program_name monthly_rate no_of_days gross_amount_due tax contributions net_amount_due', `<%=include('partials/bodies/payrollHistory-editBody', {data, selectedGroup})%>`)"> Add Payroll Type </a>
            <a id='btnCreate_PayrollHistory' data-toggle="modal" data-target="#modal" href="#" class="btn btn-primary">Create Payroll</a>
        </form>
    </div>

    <div class="d-flex table-container"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Payroll Group</th>
                    <th>Gross Amount Earned</th>
                    <th>Net Amount Due</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <%if(data.result){%>
                <% Object.values(data.result).forEach(user =>{%> 
                  <tr>
                      <td><%=user.emp_code%></td>
                      <td><%=user.name%></td>
                      <td><%=user.payroll_group.fund_cluster%> - <%=user.payroll_group.project_name%> <%=(user.payroll_group.program_name) ? +  '/ ' + user.payroll_group.program_name : ''%></td>
                      <td><%=user.salaries.gross_salary%></td>
                      <td><%=user.salaries.net_salary%></td>
                      <td >
                          <a href="/admin/payroll/<%=user.emp_code%>/payslip?from=<%=query.from%>&to=<%=query.to%>">Payslip</a>
                          <a href="/admin/payroll/receipt?from=<%=query.from%>&to=<%=query.to%>&p_group=<%=user.payroll_group._id%>">Payroll</a>
                      </td>
                  </tr>
                  <%}); %>
              <%}%>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>



</main>

<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/dateFilter.js"></script> 