<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/Aside')%>
<main>
    <div class="container dashboard">
        <div class="employees">
            <div class="employee-query components box-shadow">
                <h1>Payroll Accounts</h1>
                <div class="employee-query-search">
                    <form novalidate role="search">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Type your query here and press enter">
                    </form>
                </div>
            </div>
            <div class="employee-container components box-shadow">
                <table class="employee-table">
                    <tr>
                        <th>Employee Code</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Monthly Rate</th>
                        <th>Days</th>
                        <th>Gross Amount Earned</th>
                        <th>Absentee(s)</th>
                        <th>Undertime</th>
                        <th>Net Amount Due</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    <% Object.values(data.result).forEach(user =>{%> 
                        <tr>
                            <td><%=user.emp_code%></td>
                            <td><%=user.name%></td>
                            <td><%=user.designation%></td>
                            <td><%=user.salary%></td>
                            <td><%=user.whalf_days%></td>
                            <td><%=user.gross_salary%></td>
                            <td><%=user.no_of_absents%></td>
                            <td><%=user.no_of_undertime%></td>
                            <td><%=user.net_amount_due%></td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    <%}); %>
                </table>
            </div>
            <form novalidate role="search">
                <label for="birthday">From:</label>
                <input type="date" id="fromdate" name="fromdate">
                <label for="birthday">To:</label>
                <input type="date" id="todate" name="todate" >
            </form>
            <button class="button-submit find">Find</button>
            <script>

                //  FORMAT DATE TO MM/DD/YYYY
                const splitDate = (date)=>{
                    const splitDate = date.split('-')
                    const month = splitDate[2]
                    const day = splitDate[1]
                    const year = splitDate[0]
                    const newDate = `${month}/${day}/${year}`
                    return newDate
                }
                //  GET CALENDER ELEMENTS
                const inputFromDate = document.querySelector('#fromdate')
                const inputToDate = document.querySelector('#todate')

                // SET DEFAULT DATE TODAY
                inputFromDate.valueAsDate = new Date()
                inputToDate.valueAsDate = new Date()

                // GET ELEMENT OF FIND BUTTON, INITIATE WHEN CLICKED
                const btnSubmit = document.querySelector('.find')
                btnSubmit.addEventListener('click', async (e)=>{
                    // fromDate = inputFromDate.value
                    // toDate = inputToDate.value
                    fromDate = '2022-07-15'
                    toDate = '2022-07-30'
                    location.href=`/admin/payroll?from=${fromDate}&to=${toDate}`
                    // console.log(fromDate, toDate)
                    // console.log(fromDate)
                    // console.log(toDate)
                    // const res = await fetch(`/admin/payroll_get?from=${fromDate}&to=${toDate}`, {
                    //     headers: {'Content-Type': 'application/json'},
                    //     method:'get'
                    // })
                    // const data = await res.json()
                    // console.log(data)
                    
                })
                
            </script>
        </div>
    </div>
</main>
<%-include('partials/Footer')%>