<%-include('partials/Header')%>
    <link rel="stylesheet" href="/styles/payslip.css">
    <link rel="stylesheet" href="/styles/dataTable.css">
    <div class="wrapper">
        <main>
            <div class="container receipt">
                <div class="main">
                    <div class="header">
                        <div>
                            <h4>Payslip</h4>
                        </div>
                        <div class="actions">
                            <a href="#">Print</a>
                            <a href="#">Back</a>
                        </div>
                    </div>
                    <div class="content">
                        <div class="pinfo">
                            <div class="row">
                                <div class="col">
                                    <label for="">Employee</label>
                                    <label for=""><%=data.result[0].name%></label>
                                </div>
                                <div class="col">
                                    <label for="">Payroll Type</label>
                                    <label for="">Semi-Monthly</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Designation</label>
                                    <label for=""><%=data.result[0].designation%></label>
                                </div>
                                <div class="col">
                                    <label for="">Payroll Month</label>
                                    <label for=""><%=moment(query.from).format('MMMM')%>, <%=moment(query.from).year()%></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for=""></label>
                                    <label for=""></label>
                                </div>
                                <div class="col">
                                    <label for="">Basic Salary</label>
                                    <label for="">P<%=data.result[0].semimo_salary%></label>
                                </div>  
                            </div>
                        </div>
                        <div class="d-flex overflow-auto  table-container"> 
    
                            <table id="mainTable" class="table border" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">Daily Rate</label>
                                            <label for="">P<%=data.result[0].attendance.daily_rate%></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">No. of Day/s Present</label>
                                            <label for="">11 = P7,100.888</label>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">No. of Day/s Absent</label>
                                            <label for="">0 = P0.000</label>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">Undertime</label>
                                            <label for="">0 = P0.000</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">Late</label>
                                            <label for="">0 = P0.000</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">Holiday</label>
                                            <label for="">1 = P617.00</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-row" colspan="2">
                                            <label for="">Holiday Deduction</label>
                                            <label for="">0 = P0.000</label>
                                        </td>
                                    </tr>
                                </thead>
                                <tr class="b-down">
                                    
                                </tr>
                                <tr class="b-down">
                                    
                                </tr>
                                <tr class="b-down">
                                    
                                </tr>
                                <tr class="b-down">
                                    
                                </tr>
                                <tr class="b-down">
                                    
                                </tr>

                                <tr>
                                    <td class="b-down"  colspan="2"> <label for="" style="text-align: left;">Earnings</label></td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;" >
                                        <label for="">Semi-Monthly Salary</label>
                                    </td>
                                    <td>
                                        <label for="">P<%=data.result[0].semimo_salary%></label>
                                    </td>
                                </tr>
                                <tr >
                                    <td class="b-down" colspan="2"> <label for="" style="text-align: left;">Deductions</label></td>
                                </tr>
                                
                                        <%if(data.result[0].other_deductions.deductions.length > 1){%>
                                            <% Object.values(data.result[0].other_deductions.deductions).forEach(deduction =>{%>
                                                
                                                    <td style="text-align: right;">
                                                        <label for=""><%=deduction.name%></label>
                                                    </td>
                                                    <td>
                                                        <label for=""><%=deduction.amount%></label>
                                                    </td>
                                                </tr>
                                            <%}); %>
                                        <%}else{%>
                                            <tr>
                                                <td >
                                                    <label for=""><%=data.result[0].other_deductions.deductions.name%></label>
                                                </td>
                                                <td>
                                                    <label for=""><%=data.result[0].other_deductions.deductions.amount%></label>
                                                </td>
                                            </tr>
                                        <%}%>
                                    <tr>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td >
                                            <label for="">Gross Salary</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for="">10000</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="">Taxable Income</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for=""></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="">Withholding Tax</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for=""></label>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="">Total Deductions</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for=""></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="">Total Earnings</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for=""></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td >
                                            <label for="">Net Salary</label>
                                        </td>
                                        <td>
                                            <label for=""></label>
                                            <label for=""></label>
                                        </td>
                                    </tr>
                               
                                <tbody>
                                        
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </main>
        <script src="/assets/onscan.min.js"></script>
        <script src="/scripts/timeAttendance.js"></script>
        
    </div>
<%-include('partials/Footer')%>