


<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<main class="d-flex flex-nowrap" style="align-self: center;">

    <%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em; gap:1.5em; overflow: auto;">
    <%-include('partials/navBar.ejs', {data:{
            payroll: {
                url: '/admin/payroll/all',
                name: 'Payroll'
            },
            payrollPeriods:{
                url: '/admin/payroll/history/payslips',
                name: 'Payroll Periods'
            },
            payrollGroups:{
                url: '/admin/payroll/groups/all',
                name: 'Payroll Groups'
            }
        },
    })%>

    <div class="d-flex gap-4 "> 
        <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Payslips  </p>
               <p style="font-size:1.5rem;"><b><%=(data.summaryData[0]) ? data.summaryData[0].total_payroll : '' %></b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
       </div>
       <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Gross Amount Earned</p>
               <p style="font-size:1.5rem;"><b>₱<%=(data.summaryData[0]) ? data.summaryData[0].total_grosspay : '' %></b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
       </div>
       <div class="d-flex justify-content-between flex-fill rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; padding: 15px;">
            <div class="d-flex flex-column justify-content-around">
               <p>Net Amount Due</p>
               <p style="font-size:1.5rem;"><b>₱<%=(data.summaryData[0]) ? data.summaryData[0].total_netpay : '' %></b></p>
            </div>
            <div class="d-flex">
               <p></p>
               <p class="mt-auto p-2 bd-highlight">Totals</p>
            </div>
       </div>
  </div> 
    <%-include('partials/Modal') %> 
    <div class="d-flex filterContainer rounded-1 gap-3">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text  rounded-1 d-flex gap-2">
                  <input type="radio" name="datefil" value="alltime" aria-label="Radio button for following text input" checked> <label>label</label>
                  <input type="radio" name="datefil" value="today" aria-label="Radio button for following text input"> Today
                  <input type="radio" name="datefil" value="15d"data-odaria-label="Radio button for following text input"> 15D
                  <input type="radio" name="datefil" value="30d"data-odaria-label="Radio button for following text input"> 30D
                  </div>
                </div>
              </div>
            <input type="date" name="from" value="<%=query.from%>" id="from" class="rounded-1">
            <input type="date" name="to" value="<%=query.to%>" id="to" class="rounded-1"    >
            <select name="p_group" id="projectSelect" class="rounded-1 custom-select">
              <% Object.values(group.result).forEach(group =>{%> 
                <option value="<%=group._id%>" <%=(query.p_group === group._id) ? 'selected': ''%>><%=group.fund_cluster%> - <%=group.project_name%> <%=(group.program_name)? + "- " + group.program_name: ''%></option>
              <%}); %>
              
            </select>
            
            </script>
            <button type="submit" class="btn btn-primary">Submit</button>        </form>
    </div>
    <%-include('partials/navBar.ejs', {data:{
        payroll: {
            url: '/admin/payroll/history/all',
            name: 'All Payroll History'
        },
        payslips:{
          url: '/admin/payroll/history/payslips',
          name: 'Payslips'
        }
      },
    })%>
    <div class="d-flex table-container"> 
    
        <table id="mainTable" class="table border-top border-bottom" style="width: 100%;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee</th>
                    <th>Payroll Group</th>
                    <th>Gross Amount Earned</th>
                    <th>Net Amount Due</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <%if(data.result){%>
                <% Object.values(data.result).forEach(user =>{%> 
                  <tr>
                      <td><%=user.emp_code%></td>
                      <td><%=user.name%></td>
                      <td><%=user.payroll_group.fund_cluster%> - <%=user.payroll_group.project_name%> <%=(user.payroll_group.program_name) ? +  '/ ' + user.payroll_group.program_name : ''%></td>
                      <td><%=user.salaries.gross_salary%></td>
                      <td><%=user.salaries.net_salary%></td>
                      <td >
                          <a href="/admin/payroll/<%=user.emp_code%>/payslip?from=<%=query.from%>&to=<%=query.to%>">Payslip</a>
                      </td>
                  </tr>
                  <%}); %>
              <%}%>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>



</main>

<%-include('partials/Footer')%>
<script type="text/javascript" src="/script/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/dateFilter.js"></script> 
