<%-include('partials/Header')%>
<%-include('partials/Nav') %> 
<%-include('partials/Aside')%>

<main>
    <div class="container dashboard">
        <div class="attendance-container">
                <div class="attendance-component box-shadow components">
                    <div class="date_time box-shadow">
                        <label for="date"> <%=currentDate%></label>
                        <label for="time"><%=currentTime%></label>
                    </div>
                </div>
                
            <form>
                <div class="attendance-component box-shadow components">
                    <label for="">Enter Employee ID</label>
                    <select name="time_type" id="time_type">
                        <option value="timein">Time In</option>
                        <option value="timeout">Time Out</option>
                    </select>
                    <label for="error" class="employee error">ASDASDAS</label>
                    <input type="text" name="empid"  placeholder="Enter Employee ID">
                    <button class="button-submit">Submit</button>
                </div>
            </form>
                <div class="attendance-component box-shadow components">
                    <div class="alt box-shadow">
                        <label for="alt"> OR SCAN BY RFID CARD</label>
                    </div>
                </div>
            
        </div>
    </div>
</main>

<script>
    const form = document.querySelector('form');
    const d = document.querySelector('.date')
    const t = document.querySelector('.time')
    const lblError = document.querySelector('label.employee.error')
    
    // DATE AND TIME FORMATTING
    const wkDay = ['Monday','Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const date = new Date()
    const day = wkDay[date.getDay() - 1]
    const month = months[date.getMonth() - 1]
    const monthDate = date.getDate();
    const year = date.getFullYear();

    
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        const employee_id = form.empid.value
        const time_type = form.time_type.value
        try{
            const res = await fetch('/attendance', {
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                employee_id, 
                time_type
            }),
            method: 'POST'
            })
            const data = await res.json()
            console.log("DATA", data);
            if(data.err){lblError.textContent = data.err.email}
            if(data.log_in){lblError.textContent = "SUCCSSFULLY LOGGED IN AT " + date.toLocaleTimeString()}
            if(data.log_out){lblError.textContent = "SUCCSSFULLY LOGGED OUT AT " + date.toLocaleTimeString()}
        }catch(err){
            console.log(err)
        }
    })  
</script>


<%-include('partials/Footer')%>