<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/Aside')%>

            <main>
                <div class="container dashboard">
                    <div class="employees">
                        <div class="employee-query components box-shadow">
                            <h1>Records </h1>
                            <div class="employee-query-search">
                                <form novalidate role="search">
                                    <label for="birthday">From:</label>
                                    <input type="date" id="fromdate" name="fromdate">
                                    <label for="birthday">To:</label>
                                    <input type="date" id="todate" name="todate" >
                                </form>
                            </div>
                        </div>
                        <div class="employee-container components box-shadow">
                           
                            <table class="employee-table">
                                <tr>
                                    <th>ID</th>
                                    <th>Employee ID</th>
                                    <th>Employee Code</th>
                                    <th>Date</th>
                                    <th>AM Time in</th>
                                    <th>AM Time out</th>
                                    <th>PM Time in</th>
                                    <th>PM Time out</th>
                                </tr>
                            <% Object.values(data.records).forEach(records =>{%> 
                                <tr>
                                    <td><%=records._id%></td>
                                    <td><%=records.emp_id%></td>
                                    <td><%=records.emp_code%></td>
                                    <td><%=moment(records.date).format('LL')%></td>
                                    <td><%=(!records.am_time_in && records.message === 'Office')? '': (records.message.includes('T.O') || records.message.includes('O.B')) ? records.message : moment(records.am_time_in).format('LTS')%></td>
                                    <td><%=(!records.am_time_out)? '' : moment(records.am_time_out).format('LTS')%></td>
                                    <td><%=(!records.pm_time_in)? '' : moment(records.pm_time_in).format('LTS')%></td>
                                    <td><%=(!records.pm_time_out)? '' : moment(records.pm_time_out).format('LTS')%></td>
                                </tr>
                            <%}); %>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
<%-include('partials/Footer')%>