<%-include('partials/Header')%>
    <%-include('partials/Nav') %>
        <%-include('partials/publicAside')%>

            <main>
                <div class="container dashboard">
                    <div class="attendance-container">
                        <div class="attendance-component box-shadow components">
                            <div class="date_time box-shadow">
                                <label for="date">
                                    <%=currentDate%>
                                </label>
                                <label for="time" class="time">
                                    <%=currentTime%>
                                </label>

                            </div>
                        </div>
                        <form>
                            <div class="attendance-component box-shadow components">
                                <select name="time_type" id="time_type">
                                    <option value="timein"">Time In</option>
                                    <option value="timeout">Time Out</option>
                                </select>
                                <label for="">Scan your id here:</label>
                                <input type="text" name="empid" class="emp_id" placeholder="Enter Employee ID" onblur="this.focus()" autofocus autocomplete="off"/>
                                <label for="error" class="employee error"></label>
                                <button class="button-submit">Submit</button>
                            </div>
                        </form>
                        <div class="attendance-component box-shadow components">
                            <div class="alt box-shadow">
                                <label for="alt" class="alt-label"> </label>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <script src="/assets/onscan.min.js"></script>
            <script src="/scripts/timeMonitoring.js"></script>


            <%-include('partials/Footer')%>