<%-include('partials/Header')%>
<link rel="stylesheet" href="/styles/dataTable.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/viewEmployee.css">
<main class="d-flex flex-nowrap" style=" height: 100vh; overflow: auto; align-self: center;">

<%-include('partials/Aside')%> 
<div class="d-flex flex-column flex-fill" style="border-left: 1px solid #dddddd; padding: 1.5em 2em 1.5em 2em">
    <div class="d-flex justify-content-between"> 
            <div class="d-flex justify-content-center align-items-center rounded-1"> 
              <a href="#" class="nav-link" style="padding-right: 10px !important;">
                  Home 
              </a>
              <p style="padding-right: 10px !important; margin: 0;"> > </p>
              <a href="#" class="nav-link ">
                  <b> Employee Information</b>
              </a>
            </div>
            <div class="d-flex justify-content-around rounded-1" style="background: #F5F5F5; border: solid #dddddd 1px; width: 15%; padding: 5px;"> 
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Aug 15 2022</b></p>
                    <p style="margin: 0 !important;"><b>11:29 AM</b></p>
                  </div>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p style="margin: 0 !important;"><b>Friday</b></p>
                    <p><b></b></p>
                  </div>
            </div>
    </div>
    <%-include('partials/Modal') %> 
    <div class="info-wrapper">
        <div class="info-left">
            <div class="info-left__sub">
                <div class="info__head">
                    <img src="<%=(data.result.avatar.url)?(data.result.avatar.url): '/img/no-image.png'%>" id='viewImage'alt="#">
                    <form id="formUploadImage"> 
                        <input id='uploadImage' type="file" name="image" placeholder="Upload Image" onchange="PreviewImage();">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                    <label for="" id="upload-status"></label>
                    <h1><%=data.result.personal_information.name%></h1>
                </div>
                <div class="info__main">
                    <div class="main__subdiv">
                        <div>Email</div>
                        <div><%=data.result.personal_information.email_personal%></div>
                    </div>
                    <div class="main__subdiv">
                        <div>Mobile No.</div>
                        <div><%=data.result.personal_information.contact_personal%></div>
                    </div>
                    <div class="main__subdiv">
                        <div>Employee ID</div>
                        <div><%=data.result.employee_details.designation.id%></div>
                    </div>
                    <div class="main__subdiv">
                        <div>RFID</div>
                        <div><%=data.result.employee_details.designation.rfid%></div>
                    </div>
                    <div class="main__subdiv">
                        <div>_id</div>
                        <div id="_id"><%=data.result._id%></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-right">
            <div class="info-right__sub">
                <div class="info__head">
                    <h1>Employee Information</h1>
                </div>
                <div class="info__main">
                    <div class="main__subdiv">
                        <div>Civil Status</div>
                        <div for="content"><%=data.result.personal_information.civstatus%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="age">Age</div>
                        <div for="content"><%=data.result.personal_information.age%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="height">Height</div>
                        <div for="content"><%=data.result.personal_information.height%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="weight">Weight</div>
                        <div for="content"><%=data.result.personal_information.weight%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="gender"> Gender</div>
                        <div for="content"><%=data.result.personal_information.gender%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="dateofbirth">Date of Birth</div>
                        <div for="content"><%=moment(data.result.personal_information.date_of_birth).format('LL')%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="placeofbirth">Place of Birth</div>
                        <div for="content"><%=data.result.personal_information.place_of_birth%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="homeadd">Home Address</div>
                        <div for="content"></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="natlid">National ID</div>
                        <div for="content"><%=data.result.personal_information.natl_id%></div>
                    </div>
                    <div class="main__subheader">
                        <div class="subheader__container">
                            <label for="" class="">Designation</label>
                        </div>
                    </div>
                    <div class="main__subdiv">
                        <div for="company">Company</div>
                        <div for="content"><%=data.result.employee_details.designation.company%>, <%=data.result.employee_details.designation.company_location%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="designation">Designation</div>
                        <div for="content"><%=data.result.employee_details.designation.designation%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="employment_type">Employment Type</div>
                        <div for="content"><%=data.result.employee_details.employment_information.employment_type%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="employment_status">Employment Status</div>
                        <div for="content"><%=data.result.employee_details.employment_information.employment_status%></div>
                    </div>
                    <div class="main__subdiv">
                        <div for="date_started">Date Started</div>
                        <div for="content"><%=moment(data.result.employee_details.employment_information.date_hired).format('LL')%></div>
                    </div>
                    <div class="main__subheader">
                        <div class="subheader__container">
                            <label for="" class="">Salary</label>
                        </div>
                    </div>
                    <div class="main__subdiv">
                        <div for="salary">Monthly Salary</div>
                        <div for="content">PHP <%=data.result.employee_details.salary_details.monthly_salary%></div>
                    </div>
                    <div class="main__subheader">
                        <div class="subheader__container">
                            <label for="" class="">Accounts</label>
                        </div>
                    </div>
                    <div class="main__subdiv">
                        <div for="account">Account</div>
                        <div for="content">
                            <%if(!data.result.employee_details.account_details.portal_account){%>
                                <span class="text-danger">No Portal Account</span>
                                <br>
                                <a id="btnAdd" href="#" data-toggle="modal" data-target="#modal"  onclick="submitModal('63cb6da923cd4215c1ee0e5e','John Kenneth Singson Gervacio', 'id email password confirm role', `<%=include('partials/bodies/addAcount-editbody')%>`, 'account')" class="btn btn-primary">Add Account</a>
                            <%}else{%>
                                
                                <%=data.result.employee_details.account_details.portal_account%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>


<script src="/scripts/viewEmployee.js" type="text/javascript"></script>
<%-include('partials/Footer')%>
