<style>
    .form-control{
        width: 100%;
        border-radius: 0;
    }
    select{
        padding: .375em .6em;
        margin: 0;
        border-right: 0;
        border-left: 0;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
    }
    input, select, textarea{
        outline-color: #656488;
    }
    select:selection{
        border: 1px solid #656488;
    }
    label{
        padding-left: .75em;
        padding-bottom: .25em;
    }
    .form-check label{
        padding: 0;
    }
    .form-check-input:checked {
  background-color: #656488;
  box-shadow: 0px 0px 3px #656488;
}

</style>
<input type="date" name="from" value="<%=query.from%>" id="from" class="rounded-1">
<input type="date" name="to" value="<%=query.to%>" id="to" class="rounded-1"    >
<select name="p_group" id="projectSelect" class="rounded-1 custom-select">
  <% Object.values(group.result).forEach(group =>{%> 
    <option value="<%=group._id%>" <%=(query.p_group === group._id) ? 'selected': ''%>><%=group.fund_cluster%> - <%=group.project_name%> <%=(group.program_name)? + "- " + group.program_name: ''%></option>
  <%}); %>
  
</select>
<label for="">Other Settings</label>
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="monthly_rate" value="true" id="checkbox1" checked>
          <label class="form-check-label" for="checkbox1">
            Monthly Rate
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="no_of_days" value="true" id="checkbox2" checked>
          <label class="form-check-label" for="checkbox2">
            No. Of Days
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="gross_amount_due" value="true" id="checkbox3" checked>
          <label class="form-check-label" for="checkbox3">
            Gross Amount Earned
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="tax" value="true" id="checkbox4" checked>
          <label class="form-check-label" for="checkbox4">
            Tax (2%, 5%, 10%)
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="contributions" value="true" id="checkbox5"checked>
          <label class="form-check-label" for="checkbox5">
            Contributions (SSS, PAGIBIG, PHILHEALTH)
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="net_amount_due" value="true" id="checkbox6" checked>
          <label class="form-check-label" for="checkbox6">
            Net Amount Due
          </label>
        </div>
      </div>
    </div>
  </div>